<Config name="PentaTiles">
  <Worlds>
    <!-- comment -->
    <World id="1" open_star="0">
      <Stage id="1" name="Stage 1" description="block 3 to 5 levels" total_level="24"/>
      <Stage id="2" name="Stage 2" description="block 3 to 5 levels" total_level="24"/>
      <Stage id="3" name="Stage 3" description="block 3 to 5 levels" total_level="24"/>
      <Stage id="4" name="Stage 4" description="block 3 to 5 levels" total_level="24"/>
    </World>
    <World id="2" open_star="10">
      <Stage id="5" name="Stage 5" description="block 3 to 5 levels" total_level="24"/>
      <Stage id="6" name="Stage 6" description="block 3 to 5 levels" total_level="24"/>
      <Stage id="7" name="Stage 7" description="block 3 to 5 levels" total_level="24"/>
      <Stage id="8" name="Stage 8" description="block 3 to 5 levels" total_level="24"/>
    </World>
    <World id="3" open_star="77">
      <Stage id="9" name="Stage 9" description="block 3 to 5 levels" total_level="24"/>
      <Stage id="10" name="Stage 10" description="block 3 to 5 levels" total_level="24"/>
      <Stage id="11" name="Stage 11" description="block 3 to 5 levels" total_level="24"/>
      <Stage id="12" name="Stage 12" description="block 3 to 5 levels" total_level="24"/>
      <Stage id="13" name="Stage 13" description="block 3 to 5 levels" total_level="24"/>
      <Stage id="14" name="Stage 14" description="block 3 to 5 levels" total_level="24"/>
    </World>
    <World id="4" open_star="111">
      <Stage id="15" name="Stage 15" description="block 3 to 5 levels" total_level="24"/>
      <Stage id="16" name="Stage 16" description="block 3 to 5 levels" total_level="24"/>
      <Stage id="17" name="Stage 17" description="block 3 to 5 levels" total_level="24"/>
      <Stage id="18" name="Stage 18" description="block 3 to 5 levels" total_level="24"/>
      <Stage id="19" name="Stage 19" description="block 3 to 5 levels" total_level="24"/>
      <Stage id="20" name="Stage 20" description="block 3 to 5 levels" total_level="24"/>
      <Stage id="21" name="Stage 21" description="block 3 to 5 levels" total_level="24"/>
      <Stage id="22" name="Stage 22" description="block 3 to 5 levels" total_level="24"/>
    </World>
    <World id="5" open_star="222">
      <Stage id="23" name="Stage 23" description="block 3 to 5 levels" total_level="24"/>
      <Stage id="24" name="Stage 24" description="block 3 to 5 levels" total_level="24"/>
      <Stage id="25" name="Stage 25" description="block 3 to 5 levels" total_level="24"/>
      <Stage id="26" name="Stage 26" description="block 3 to 5 levels" total_level="24"/>
      <Stage id="27" name="Stage 27" description="block 3 to 5 levels" total_level="24"/>
      <Stage id="28" name="Stage 28" description="block 3 to 5 levels" total_level="24"/>
      <Stage id="29" name="Stage 29" description="block 3 to 5 levels" total_level="24"/>
      <Stage id="30" name="Stage 30" description="block 3 to 5 levels" total_level="24"/>
      <Stage id="31" name="Stage 31" description="block 3 to 5 levels" total_level="24"/>
      <Stage id="32" name="Stage 32" description="block 3 to 5 levels" total_level="24"/>
    </World>
  </Worlds>
  
  <Blocks>
    <Block stage="1" level="1" id="Thumb"/>
	<Block stage="1" level="3" id="Worm"/>
	<Block stage="1" level="5" id="Gun"/>
	<Block stage="1" level="9" id="Two"/>
	<Block stage="1" level="13" id="HeadSpin"/>
	<Block stage="1" level="19" id="Key"/>
	<Block stage="2" level="2" id="L"/>
	<Block stage="2" level="7" id="Stairway"/>
	<Block stage="2" level="16" id="Lock"/>
	<Block stage="5" level="9" id="Lock"/>
	<Block stage="3" level="2" id="Cross"/>
	<Block stage="6" level="5" id="Cross"/>
	<Block stage="3" level="13" id="Flat"/>
	<Block stage="6" level="20" id="Flat"/>
	<Block stage="4" level="2" id="Missile"/>
	<Block stage="5" level="3" id="Missile"/>
  </Blocks>
  
  <Achievements>
    <Achievement id="ACHIEVEMENT_COLLECT_STAR_1" name="Starter" description="Collect 1 Star" type="LevelComplete" key="" goal="1"/>
    <Achievement id="ACHIEVEMENT_COLLECT_STAR_10" name="10 Stars" description="Collect 10 Stars" type="LevelComplete" key="" goal="10"/>
    <Achievement id="ACHIEVEMENT_COLLECT_STAR_20" name="20 Stars" description="Collect 20 Stars" type="LevelComplete" key="" goal="20"/>
    <Achievement id="ACHIEVEMENT_COLLECT_STAR_30" name="30 Stars" description="Collect 30 Stars" type="LevelComplete" key="" goal="30"/>
    <Achievement id="ACHIEVEMENT_COLLECT_STAR_50" name="50 Stars" description="Collect 50 Stars" type="LevelComplete" key="" goal="50"/>
    <Achievement id="ACHIEVEMENT_COLLECT_STAR_100" name="100 Stars" description="Collect 100 Stars" type="LevelComplete" key="" goal="100"/>
    <Achievement id="ACHIEVEMENT_COLLECT_STAR_150" name="150 Stars" description="Collect 150 Stars" type="LevelComplete" key="" goal="150"/>
    <Achievement id="ACHIEVEMENT_COLLECT_STAR_200" name="200 Stars" description="Collect 200 Stars" type="LevelComplete" key="" goal="200"/>
    <Achievement id="ACHIEVEMENT_COLLECT_STAR_300" name="300 Stars" description="Collect 300 Stars" type="LevelComplete" key="" goal="300"/>
    <Achievement id="ACHIEVEMENT_COLLECT_STAR_500" name="500 Stars" description="Collect 500 Stars" type="LevelComplete" key="" goal="500"/>
    <Achievement id="ACHIEVEMENT_COLLECT_STAR_700" name="700 Stars" description="Collect 700 Stars" type="LevelComplete" key="" goal="700"/>
    <Achievement id="ACHIEVEMENT_COLLECT_STAR_1000" name="1000 Stars" description="Collect 1000 Stars" type="LevelComplete" key="" goal="1000"/>
  </Achievements>
</Config>