<Config name="PentaTiles">
  <Worlds>
    <!-- comment -->
    <World id="1" open_star="0">
      <Stage id="1" name="Rookie 1" description="block 3 to 5 levels" total_level="24"/>
      <Stage id="2" name="Rookie 2" description="block 3 to 5 levels" total_level="24"/>
      <Stage id="3" name="Rookie 3" description="block 3 to 5 levels" total_level="24"/>
      <Stage id="4" name="Rookie 4" description="block 3 to 5 levels" total_level="24"/>
    </World>
    <World id="2" open_star="33">
      <Stage id="5" name="Novice 1" description="block 4 to 6 levels" total_level="24"/>
      <Stage id="6" name="Novice 2" description="block 4 to 6 levels" total_level="24"/>
      <Stage id="7" name="Novice 3" description="block 4 to 6 levels" total_level="24"/>
      <Stage id="8" name="Novice 4" description="block 4 to 6 levels" total_level="24"/>
    </World>
    <World id="3" open_star="77">
      <Stage id="9" name="Intermediate 1" description="block 4 to 7 levels" total_level="24"/>
      <Stage id="10" name="Intermediate 2" description="block 4 to 7 levels" total_level="24"/>
      <Stage id="11" name="Intermediate 3" description="block 4 to 7 levels" total_level="24"/>
      <Stage id="12" name="Intermediate 4" description="block 4 to 7 levels" total_level="24"/>
      <Stage id="13" name="Intermediate 5" description="block 4 to 7 levels" total_level="24"/>
      <Stage id="14" name="Intermediate 6" description="block 4 to 7 levels" total_level="24"/>
    </World>
    <World id="4" open_star="111">
      <Stage id="15" name="Advanced 1" description="block 5 to 7 levels" total_level="24"/>
      <Stage id="16" name="Advanced 2" description="block 5 to 7 levels" total_level="24"/>
      <Stage id="17" name="Advanced 3" description="block 5 to 7 levels" total_level="24"/>
      <Stage id="18" name="Advanced 4" description="block 5 to 7 levels" total_level="24"/>
      <Stage id="19" name="Advanced 5" description="block 5 to 7 levels" total_level="24"/>
      <Stage id="20" name="Advanced 6" description="block 5 to 7 levels" total_level="24"/>
      <Stage id="21" name="Advanced 7" description="block 5 to 7 levels" total_level="24"/>
      <Stage id="22" name="Advanced 8" description="block 5 to 7 levels" total_level="24"/>
    </World>
    <World id="5" open_star="222">
      <Stage id="23" name="Mavin 1" description="block 5 to 8 levels" total_level="24"/>
      <Stage id="24" name="Mavin 2" description="block 5 to 8 levels" total_level="24"/>
      <Stage id="25" name="Mavin 3" description="block 5 to 8 levels" total_level="24"/>
      <Stage id="26" name="Mavin 4" description="block 5 to 8 levels" total_level="24"/>
      <Stage id="27" name="Mavin 5" description="block 5 to 8 levels" total_level="24"/>
      <Stage id="28" name="Mavin 6" description="block 5 to 8 levels" total_level="24"/>
      <Stage id="29" name="Mavin 7" description="block 5 to 8 levels" total_level="24"/>
      <Stage id="30" name="Mavin 8" description="block 5 to 8 levels" total_level="24"/>
      <Stage id="31" name="Mavin 9" description="block 5 to 8 levels" total_level="24"/>
      <Stage id="32" name="Mavin 10" description="block 5 to 8 levels" total_level="24"/>
    </World>
    <World id="6" open_star="333">
      <Stage id="33" name="Specialist 1" description="block 6 to 8 levels" total_level="24"/>
      <Stage id="34" name="Specialist 2" description="block 6 to 8 levels" total_level="24"/>
      <Stage id="35" name="Specialist 3" description="block 6 to 8 levels" total_level="24"/>
      <Stage id="36" name="Specialist 4" description="block 6 to 8 levels" total_level="24"/>
      <Stage id="37" name="Specialist 5" description="block 6 to 8 levels" total_level="24"/>
      <Stage id="38" name="Specialist 6" description="block 6 to 8 levels" total_level="24"/>
      <Stage id="39" name="Specialist 7" description="block 6 to 8 levels" total_level="24"/>
      <Stage id="40" name="Specialist 8" description="block 6 to 8 levels" total_level="24"/>
      <Stage id="41" name="Specialist 9" description="block 6 to 8 levels" total_level="24"/>
      <Stage id="42" name="Specialist 10" description="block 6 to 8 levels" total_level="24"/>
    </World>
    <World id="7" open_star="555">
      <Stage id="43" name="Expert 1" description="block 6 to 9 levels" total_level="24"/>
      <Stage id="44" name="Expert 2" description="block 6 to 9 levels" total_level="24"/>
      <Stage id="45" name="Expert 3" description="block 6 to 9 levels" total_level="24"/>
      <Stage id="46" name="Expert 4" description="block 6 to 9 levels" total_level="24"/>
      <Stage id="47" name="Expert 5" description="block 6 to 9 levels" total_level="24"/>
      <Stage id="48" name="Expert 6" description="block 6 to 9 levels" total_level="24"/>
      <Stage id="49" name="Expert 7" description="block 6 to 9 levels" total_level="24"/>
      <Stage id="50" name="Expert 8" description="block 6 to 9 levels" total_level="24"/>
      <Stage id="51" name="Expert 9" description="block 6 to 9 levels" total_level="24"/>
      <Stage id="52" name="Expert 10" description="block 6 to 9 levels" total_level="24"/>
    </World>
    <World id="8" open_star="777">
      <Stage id="53" name="Proficient 1" description="block 7 to 9 levels" total_level="24"/>
      <Stage id="54" name="Proficient 2" description="block 7 to 9 levels" total_level="24"/>
      <Stage id="55" name="Proficient 3" description="block 7 to 9 levels" total_level="24"/>
      <Stage id="56" name="Proficient 4" description="block 7 to 9 levels" total_level="24"/>
      <Stage id="57" name="Proficient 5" description="block 7 to 9 levels" total_level="24"/>
      <Stage id="58" name="Proficient 6" description="block 7 to 9 levels" total_level="24"/>
      <Stage id="59" name="Proficient 7" description="block 7 to 9 levels" total_level="24"/>
      <Stage id="60" name="Proficient 8" description="block 7 to 9 levels" total_level="24"/>
      <Stage id="61" name="Proficient 9" description="block 7 to 9 levels" total_level="24"/>
      <Stage id="62" name="Proficient 10" description="block 7 to 9 levels" total_level="24"/>
    </World>
    <World id="9" open_star="999">
      <Stage id="63" name="Master 1" description="block 7 to 10 levels" total_level="24"/>
      <Stage id="64" name="Master 2" description="block 7 to 10 levels" total_level="24"/>
      <Stage id="65" name="Master 3" description="block 7 to 10 levels" total_level="24"/>
      <Stage id="66" name="Master 4" description="block 7 to 10 levels" total_level="24"/>
      <Stage id="67" name="Master 5" description="block 7 to 10 levels" total_level="24"/>
      <Stage id="68" name="Master 6" description="block 7 to 10 levels" total_level="24"/>
      <Stage id="69" name="Master 7" description="block 7 to 10 levels" total_level="24"/>
      <Stage id="70" name="Master 8" description="block 7 to 10 levels" total_level="24"/>
      <Stage id="71" name="Master 9" description="block 7 to 10 levels" total_level="24"/>
      <Stage id="72" name="Master 10" description="block 7 to 10 levels" total_level="24"/>
    </World>
  </Worlds>
  
  <Blocks>
    <Block stage="1" level="1" id="Block_Thumb"/>
	<Block stage="1" level="3" id="Block_Worm"/>
	<Block stage="1" level="5" id="Block_Gun"/>
	<Block stage="1" level="9" id="Block_Two"/>
	<Block stage="1" level="13" id="Block_HeadSpin"/>
	<Block stage="1" level="19" id="Block_Key"/>
	<Block stage="2" level="2" id="Block_L"/>
	<Block stage="2" level="7" id="Block_Stairway"/>
	<Block stage="2" level="16" id="Block_Lock"/>
	<Block stage="5" level="9" id="Block_Lock"/>
	<Block stage="3" level="2" id="Block_Cross"/>
	<Block stage="6" level="5" id="Block_Cross"/>
	<Block stage="3" level="13" id="Block_Flat"/>
	<Block stage="6" level="20" id="Block_Flat"/>
	<Block stage="4" level="2" id="Block_Missile"/>
	<Block stage="5" level="3" id="Block_Missile"/>
  </Blocks>
  
  <Achievements>
    <Achievement id="ACHIEVEMENT_STAR_COLLECT_1" name="Starter" description="Collect 1 Star" type="StarCollectCount" key="" goal="1"/>
    <Achievement id="ACHIEVEMENT_STAR_COLLECT_10" name="10 Stars" description="Collect 10 Stars" type="StarCollectCount" key="" goal="10"/>
    <Achievement id="ACHIEVEMENT_STAR_COLLECT_20" name="20 Stars" description="Collect 20 Stars" type="StarCollectCount" key="" goal="20"/>
    <Achievement id="ACHIEVEMENT_STAR_COLLECT_30" name="30 Stars" description="Collect 30 Stars" type="StarCollectCount" key="" goal="30"/>
    <Achievement id="ACHIEVEMENT_STAR_COLLECT_50" name="50 Stars" description="Collect 50 Stars" type="StarCollectCount" key="" goal="50"/>
    <Achievement id="ACHIEVEMENT_STAR_COLLECT_100" name="100 Stars" description="Collect 100 Stars" type="StarCollectCount" key="" goal="100"/>
    <Achievement id="ACHIEVEMENT_STAR_COLLECT_150" name="150 Stars" description="Collect 150 Stars" type="StarCollectCount" key="" goal="150"/>
    <Achievement id="ACHIEVEMENT_STAR_COLLECT_200" name="200 Stars" description="Collect 200 Stars" type="StarCollectCount" key="" goal="200"/>
    <Achievement id="ACHIEVEMENT_STAR_COLLECT_300" name="300 Stars" description="Collect 300 Stars" type="StarCollectCount" key="" goal="300"/>
    <Achievement id="ACHIEVEMENT_STAR_COLLECT_500" name="500 Stars" description="Collect 500 Stars" type="StarCollectCount" key="" goal="500"/>
    <Achievement id="ACHIEVEMENT_STAR_COLLECT_700" name="700 Stars" description="Collect 700 Stars" type="StarCollectCount" key="" goal="700"/>
    <Achievement id="ACHIEVEMENT_STAR_COLLECT_1000" name="1000 Stars" description="Collect 1000 Stars" type="StarCollectCount" key="" goal="1000"/>
    <Achievement id="ACHIEVEMENT_STAR_COLLECT_1500" name="1500 Stars" description="Collect 1500 Stars" type="StarCollectCount" key="" goal="1500"/>

    <Achievement id="ACHIEVEMENT_BLOCK_OPEN_THUMB" name="'Thumb' Block" description="Open 'Thumb' Block" type="BlockOpen" key="Block_Thumb" goal="1"/>
    <Achievement id="ACHIEVEMENT_BLOCK_OPEN_WORM" name="'Worm' Block" description="Open 'Worm' Block" type="BlockOpen" key="Block_Worm" goal="1"/>
    <Achievement id="ACHIEVEMENT_BLOCK_OPEN_GUN" name="'Gun' Block" description="Open 'Gun' Block" type="BlockOpen" key="Block_Gun" goal="1"/>
    <Achievement id="ACHIEVEMENT_BLOCK_OPEN_TWO" name="'2' Block" description="Open '2' Block" type="BlockOpen" key="Block_Two" goal="1"/>
    <Achievement id="ACHIEVEMENT_BLOCK_OPEN_HEADSPIN" name="'Head Spin' Block" description="Open 'Head Spin' Block" type="BlockOpen" key="Block_HeadSpin" goal="1"/>
    <Achievement id="ACHIEVEMENT_BLOCK_OPEN_KEY" name="'Key' Block" description="Open 'Key' Block" type="BlockOpen" key="Block_Key" goal="1"/>
    <Achievement id="ACHIEVEMENT_BLOCK_OPEN_L" name="'L' Block" description="Open 'L' Block" type="BlockOpen" key="Block_L" goal="1"/>
    <Achievement id="ACHIEVEMENT_BLOCK_OPEN_STAIRWAY" name="'Stairway' Block" description="Open 'Stairway' Block" type="BlockOpen" key="Block_Stairway" goal="1"/>
    <Achievement id="ACHIEVEMENT_BLOCK_OPEN_LOCK" name="'Lock' Block" description="Open 'Lock' Block" type="BlockOpen" key="Block_Lock" goal="1"/>
	<Achievement id="ACHIEVEMENT_BLOCK_OPEN_CROSS" name="'Cross' Block" description="Open 'Cross' Block" type="BlockOpen" key="Block_Cross" goal="1"/>
	<Achievement id="ACHIEVEMENT_BLOCK_OPEN_FLAT" name="'Flat' Block" description="Open 'Flat' Block" type="BlockOpen" key="Block_Flat" goal="1"/>
	<Achievement id="ACHIEVEMENT_BLOCK_OPEN_MISSILE" name="'Missile' Block" description="Open 'Missile' Block" type="BlockOpen" key="Block_Missile" goal="1"/>

	<Achievement id="ACHIEVEMENT_ADS_WATCH_1" name="First Ad" description="Watch full ads 1 time" type="AdsWatchCount" key="" goal="1"/>
	<Achievement id="ACHIEVEMENT_ADS_WATCH__5" name="5th Ad" description="Watch full ads 5 times" type="AdsWatchCount" key="" goal="5"/>
	<Achievement id="ACHIEVEMENT_ADS_WATCH_10" name="10th Ad" description="Watch full ads 10 times" type="AdsWatchCount" key="" goal="10"/>
	<Achievement id="ACHIEVEMENT_ADS_WATCH_20" name="Ad Watcher" description="Watch full ads 20 times" type="AdsWatchCount" key="" goal="20"/>
	<Achievement id="ACHIEVEMENT_ADS_WATCH_30" name="Ad Lover" description="Watch full ads 30 times" type="AdsWatchCount" key="" goal="30"/>
	<Achievement id="ACHIEVEMENT_ADS_WATCH_50" name="Ad Specialist" description="Watch full ads 50 times" type="AdsWatchCount" key="" goal="50"/>
	<Achievement id="ACHIEVEMENT_ADS_WATCH_75" name="Ad Expert" description="Watch full ads 75 times" type="AdsWatchCount" key="" goal="75"/>
	<Achievement id="ACHIEVEMENT_ADS_WATCH_100" name="Ad Mania" description="Watch full ads 100 times" type="AdsWatchCount" key="" goal="100"/>
	<Achievement id="ACHIEVEMENT_ADS_WATCH_150" name="Ad Master" description="Watch full ads 150 times" type="AdsWatchCount" key="" goal="150"/>
	<Achievement id="ACHIEVEMENT_ADS_REMOVE" name="Ad Killer" description="Buy 'Remove Ads'" type="AdsRemove" key="" goal="1"/>

	<Achievement id="ACHIEVEMENT_QUEST_COMPLETE_1" name="First Quest" description="Complete 1 quest" type="QuestCompleteCount" key="" goal="1"/>
	<Achievement id="ACHIEVEMENT_QUEST_COMPLETE_5" name="Quest Novice" description="Complete 5 quests" type="QuestCompleteCount" key="" goal="5"/>
	<Achievement id="ACHIEVEMENT_QUEST_COMPLETE_10" name="Quest Lover" description="Complete 10 quests" type="QuestCompleteCount" key="" goal="10"/>
	<Achievement id="ACHIEVEMENT_QUEST_COMPLETE_20" name="Quest Specialist" description="Complete 20 quests" type="QuestCompleteCount" key="" goal="20"/>
	<Achievement id="ACHIEVEMENT_QUEST_COMPLETE_30" name="Quest Expert" description="Complete 30 quests" type="QuestCompleteCount" key="" goal="30"/>

	<Achievement id="ACHIEVEMENT_HINT_USE_1" name="Sage" description="Use Hint 1 time" type="HintUseCount" key="" goal="1"/>
	<Achievement id="ACHIEVEMENT_HINT_USE_10" name="Wise Man" description="Use Hint 10 times" type="HintUseCount" key="" goal="10"/>
	<Achievement id="ACHIEVEMENT_HINT_USE_50" name="Hint Lover" description="Use Hint 50 times" type="HintUseCount" key="" goal="50"/>
	<Achievement id="ACHIEVEMENT_HINT_USE_100" name="Hint Mania" description="Use Hint 100 times" type="HintUseCount" key="" goal="100"/>
	<Achievement id="ACHIEVEMENT_HINT_USE_200" name="Hint Master" description="Use Hint 200 times" type="HintUseCount" key="" goal="200"/>
	<Achievement id="ACHIEVEMENT_HINT_USE_300" name="Hint Holic" description="Use Hint 300 times" type="HintUseCount" key="" goal="300"/>
	<Achievement id="ACHIEVEMENT_HINT_USE_500" name="Hint Addict" description="Use Hint 500 times" type="HintUseCount" key="" goal="500"/>
	<!--
	<Achievement id="ACHIEVEMENT_QUEST_COMPLETE_50" name="Quest Mania" description="Complete 50 quests" type="QuestCompleteCount" key="" goal="50"/>
	<Achievement id="ACHIEVEMENT_QUEST_COMPLETE_75" name="Quest Master" description="Complete 75 quests" type="QuestCompleteCount" key="" goal="75"/>
	-->
	<Achievement id="ACHIEVEMENT_STAGE_COMPLETE_1" name="1st Stage" description="Complete 1 stage" type="StageCompleteCount" key="" goal="1"/>
	<Achievement id="ACHIEVEMENT_STAGE_COMPLETE_2" name="2nd Stage" description="Complete 2 stages" type="StageCompleteCount" key="" goal="2"/>
	<Achievement id="ACHIEVEMENT_STAGE_COMPLETE_3" name="3rd Stage" description="Complete 3 stages" type="StageCompleteCount" key="" goal="3"/>
	<Achievement id="ACHIEVEMENT_STAGE_COMPLETE_5" name="5th Stage" description="Complete 5 stages" type="StageCompleteCount" key="" goal="5"/>
	<Achievement id="ACHIEVEMENT_STAGE_COMPLETE_10" name="10th Stage" description="Complete 10 stages" type="StageCompleteCount" key="" goal="10"/>
	<Achievement id="ACHIEVEMENT_STAGE_COMPLETE_15" name="15th Stage" description="Complete 15 stages" type="StageCompleteCount" key="" goal="15"/>
	<Achievement id="ACHIEVEMENT_STAGE_COMPLETE_20" name="20th Stage" description="Complete 20 stages" type="StageCompleteCount" key="" goal="20"/>
	<Achievement id="ACHIEVEMENT_STAGE_COMPLETE_25" name="25th Stage" description="Complete 25 stages" type="StageCompleteCount" key="" goal="25"/>
	<Achievement id="ACHIEVEMENT_STAGE_COMPLETE_30" name="30th Stage" description="Complete 30 stages" type="StageCompleteCount" key="" goal="30"/>
	<Achievement id="ACHIEVEMENT_STAGE_COMPLETE_35" name="35th Stage" description="Complete 35 stages" type="StageCompleteCount" key="" goal="35"/>
	<Achievement id="ACHIEVEMENT_STAGE_COMPLETE_40" name="40th Stage" description="Complete 40 stages" type="StageCompleteCount" key="" goal="40"/>
	<Achievement id="ACHIEVEMENT_STAGE_COMPLETE_45" name="45th Stage" description="Complete 45 stages" type="StageCompleteCount" key="" goal="45"/>
	<Achievement id="ACHIEVEMENT_STAGE_COMPLETE_50" name="50th Stage" description="Complete 50 stages" type="StageCompleteCount" key="" goal="50"/>
	<Achievement id="ACHIEVEMENT_STAGE_COMPLETE_60" name="60th Stage" description="Complete 60 stages" type="StageCompleteCount" key="" goal="60"/>
	<Achievement id="ACHIEVEMENT_STAGE_COMPLETE_70" name="70th Stage" description="Complete 70 stages" type="StageCompleteCount" key="" goal="70"/>

  </Achievements>
</Config>